@using OnlineSinav.Model
@model ICollection<Exam>

@{
    ViewBag.Title = "Sınav Listesi";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Anasayfa</a></li>
    <li class="breadcrumb-item active">Sınavlar</li>
</ol>
<p class="btn-group float-md-right">
    <a href="#" class="btn btn-white active"><i class="material-icons">list</i></a>
    <a href="#" class="btn btn-white"><i class="material-icons">dashboard</i></a>
</p>
<div class="clearfix"></div>
<div class="card-columns">
    @foreach (var item in Model)
    {
        <div class="card">
            <div class="card-header bg-white text-center">
                <h4 class="card-title"><a href="@Url.Action("GetExam", new { id=item.ExamID })">@item.Name</a></h4>
                <div class="rating">
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                    <i class="material-icons">star_border</i>
                </div>
            </div>
            <a href="@Url.Action("GetExam", new { id=item.ExamID })">
                <img src="~/Content/img/polinomlar.jpg" alt="Polinomlar" style="width:100%;" />
            </a>
            <div class="card-body">
                <small class="text-muted">@item.Lesson.Name</small><br> dersine ait güzel bir sınav<br>
                <span class="badge badge-primary ">@item.Category.Name</span>
            </div>
        </div>
    }
</div>
<nav class="text-center">
    <ul class="pagination pagination-sm">
        <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="page-item active">
            <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
